.header {
    display: flex;
    justify-content: flex-end;
}

#bloc_nav {
    font-size: 15px
} 

.carre_google {   
    height: 25px;
}

.connexion {   
    border: 8px solid #4285f4;
    border-radius: 4 px;
    font-weight: bold;
    font-size: 13px;
    color: white;
    background: #4285f4;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

#france {
    font-size: 15px
    border-top: 1px solid #e4e4e4;
    background-color: #f2f2f2;
}


section {
    display: flex;
    flex-direction:column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top:150px;
    margin-bottom:150px;
}

.boutonA {   
    border: 8px solid #f2f2f2;
    border-radius: 4 px;
    font-size: 13px;
    font-family : arial, sans-serif;
    font-weight: bold;
    color: #757575;
    background: #f2f2f2;
    margin-right : 4px;
}
.boutonB {   
    border: 8px solid #f2f2f2;
    border-radius: 4 px;
    font-size: 13px;
    font-family : arial, sans-serif;
    font-weight: bold;
    color: #757575;
    background: #f2f2f2;
}

input[type=text]{   
   height : 34px;
   width : 550px;
   margin: 25px;
   margin-top: 40px;
}

#bloc_left {
    font-size: 15px
}


#bloc_right {
    font-size: 15px
}
#bottom {   
    display: flex;
    justify-content: space-between;
    
}

footer {   
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    bottom:0;
    position: absolute;
    width:98%;
    padding: 10px;
}
